In [1]:
import pandas as pd;
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
import seaborn as sns
from matplotlib.pyplot import figure
import psycopg2

In [2]:
def connection(sql):
    con = psycopg2.connect(host='35.247.202.234', database='dw',
    user='consulta', password='teste123')
    cur = con.cursor()    
    cur.execute(sql)
    data = cur.fetchall()
    cols = []
    for elt in cur.description:
        cols.append(elt[0])

    df = pd.DataFrame(data=data,columns=cols)
    con.close()
    return df

In [3]:
sql_dimensoes_alunos = 'SELECT * FROM dados_sap.dimensoes_alunos'
sql_dimensoes_turmas ='SELECT * FROM dados_sap.dimensoes_turma'
sql_fatores_escola ='SELECT * FROM dados_sap.fatores_escola'
sql_fatores_turma ='SELECT * FROM dados_sap.fatores_turma'
sql_fatores_alunos = 'SELECT * FROM dados_sap.fatores_alunos'
df = connection(sql_fatores_escola)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aluno              25 non-null     object
 1   fatores_dimensões  25 non-null     object
 2   value              25 non-null     float64
dtypes: float64(1), object(2)
memory usage: 728.0+ bytes

In [7]:
set(df['fatores_dimensões'])

{'Estudante-Comunidade',
 'Estudante-Escola',
 'Estudante-Estudante',
 'Estudante-Familia',
 'Estudante-Profissionais da Escola'}